---
import { SITE_NAME } from '../config/site';
---

<header class="masthead">
	<div class="container masthead__inner">
		<h1 class="masthead__title">
			<a class="masthead__brand" href="/">
				<img
					class="masthead__logo"
					src="/images/logo.png"
					alt={SITE_NAME}
					width="96"
					height="96"
					decoding="async"
				/>
			</a>
		</h1>
	</div>
</header>
